.body {
    background-color: rgb(196, 161, 85);
    color: black;
}

.header {
    margin: 20px auto 10px;
    align-items: center;
}

.title-cont {
    max-width: 50%;
    margin-left: 10%;
}

.title {
    font-weight:700;
    color: black;
}

.main {
    display: flex;
    margin: 0 auto 20px;
    align-items: center;
}

.list-cont {
    width: 80%;
    max-width: 1200px;
    margin-left: 10%;
}

.m-list {
    margin-left: 0;
    padding-left: 0;
    color: blue;
    cursor:pointer;
}

.m-list:hover, .m-list:active, .m-list:focus .item-text {
    color: black;
}

.m-item {
    margin-bottom: 10px;
    list-style-type: none;
}

.m-item:last-child {
    margin-bottom: 0;
}

.item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}

.item-text {
    max-width: 450px;
    color: inherit;
}

.item-but {
    max-width: 12px;
    color: black;
}

.line {
    display: block;
    margin-bottom: 5px;
    height: 0.1px;
    width: 100%;
    border: 1px solid grey;
}

@keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.tit1:hover + .sec1{
    display: flex;
    animation-name: Appearance;
    animation-duration: 1s;
    opacity: 1;
}

.tit2:hover + .sec2{
    display: flex;
    animation-name: Appearance;
    animation-duration: 1s;
    opacity: 1;
}

.tit3:hover + .sec3{
    display: flex;
    animation-name: Appearance;
    animation-duration: 1s;
    opacity: 1;
}

.tit4:hover + .sec4{
    display: flex;
    animation-name: Appearance;
    animation-duration: 1s;
    opacity: 1;
}

.pic-section {
    display: none;
    opacity: 0;
    align-items: center;
}

.pic1 {
    margin: 5px auto 0;
    height: 300px;
    width: 300px;
    transition: 1s
}

.pic:hover {
    transform: scale(1.1);
    transition: 1s;
    
}

.pic2 {
    margin: 5px auto 0;
    height: 300px;
    width: 300px;
}

.pic3 {
    margin: 5px auto 0;
    height: 300px;
    width: 300px;
}

.pic4 {
    margin: 5px auto 0;
    height: 300px;
    width: 300px;
}


